.et-animated-content#page-container {
  transition: margin-top 0.4s ease-in-out;
}
.container {
  text-align: left;
  position: relative;
}
.container {
  width: 90%;
  /* max-width: 1080px; */
  margin: auto;
  position: relative;
}
div h3 {
  font-family: "Special Elite", display !important;
  font-size: 35px;
}
div h2 {
  font-size: 45px !important;
  font-family: "Special Elite", display !important;
}
.modal-xl .btn-close {
  background-color: #fff !important;
  border-radius: 5px;
}
.modal-xl .modal-header {
  border: none;
}
.modal-xl .wood-sec {
  background-image: url("./asstes/modal-bg.jpg");
}
