@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
select {
  font-family: "Baskervville", Georgia, "Times New Roman", serif;
  font-weight: 400;
}
body {
  color: #000000;
}
body,
html {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth; /* Add this line for smooth scrolling */
}
body.et_cover_background {
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: transparent;
}
a,
a:hover {
  text-decoration: none;
}
body .row {
  padding: 0;
  margin: 0;
}
